@mixin fieldInFocus {
  outline: none;
  border-color: $borderColorForTextareaInFocus;
  border: 0.1rem solid;
  box-shadow: 0 0 0.15rem $borderColorForTextareaInFocus;
}

$borderColorForTextarea: #898C7D;
$borderColorForTextareaInFocus: #719ECE !important;

.container {
  width: 100%;
}

.wrapper {
  margin: 2rem 15%;
}

.textField {
  height: 8rem;
  max-width: 60rem;
  min-width: 25rem;
  width: 100%;
  border-color: $borderColorForTextarea;

  &:focus {
    @include fieldInFocus;
  }
}

.inputField {
  height: 1rem;
  min-width: 25rem;
  border-color: $borderColorForTextarea;

  &:focus {
    @include fieldInFocus;
  }
}

.postBtn {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background: #337ab7;
  border-radius: 0.15rem;
  border: #2e6da4;
  color: #fff;
  font-size: 0.7rem;

  &[disabled] {
    opacity: 0.65;
  }
}

.response {
  margin-top: 1rem;
}
